@import('normalize.styl')
@import("fonts.styl")
@import('slides.styl')
@import('materialize.styl')


gris_claro = #F0F0F0
gris_mas_claro = #f7f7f7
girs_oscuro = #333333

body
  font-size 16px
  background gris_mas_claro
  font-family 'OldStandard', Arial

p
  font-size 1.5em
ul
  li
    font-size 1.3em
    text-align justify
.margin_top
  margin-top 2em
.index
  .container
    min-height 450px
    .integrantes
      margin-top 6.5em !important
      .nombre
        margin-top 0.5em
        margin-bottom 0.5em
.header
  margin 1em 0
  .tittle
    text-align center
    margin 0

.container_demo
  min-height 500px
  .row
    .col
      .mapa
        margin 0
        width 100%
        img
          width 100%

.container_demo
  .row
    .col
      .long
        padding-top 1em
        width 70%
        margin 0 auto
        .mapa
          margin 0
          width 100%
          img
            width 100%
    .circulo_control
      text-align center
      figure.proveedor
        position absolute
        left 0
        top -3em
      .circulo
        margin 1em auto
        width 250px
        height 250px
        border-radius 50%
        background #1D2939
        line-height 250px
        p
          text-align center
          color #fff
    .imagenes_alcance_top
      text-align center
      position relative

      figure.proveedores
        position absolute
        left 12em
        top -13em
        margin 0
        width 20%
        margin 0 0.5em

      figure.pedidos
        position absolute
        left 45%
        top -1em
        width 18%

      figure
        margin 0
        width 50%
        margin 0 0.5em
        img
          width 100%
          border-radius 50%
    .imagenes_alcance_down
      text-align center
      margin-top 1em
      position relative
      figure.maquina
        position absolute
        right 15em
        top -5em
        width 15%
      figure.producto
        position absolute
        left 18.5em
        top 2em
        width 18%
      figure
        margin 0 auto
        width 50%
        margin 0 0.5em
        img
          width 100%
          border-radius 50%
    .circulo_control
      text-align center
      position relative
      text-align center
      figure.materia
        position absolute
        left -2em
        top -6em
      figure.reportes
        position absolute
        right 1em
        top -4em
        width 30%
      figure
        margin 0
        width 20%
        display inline-block
        vertical-align top
        img
          width 100%
          border-radius 50%
      .circulo
        display inline-block
        vertical-align top
        background #1D2939
        p
          margin-top 0
          color #ffffff

.margin_li
  margin-left 2em
  font-size 1.5em
#kardex
  width 18%
  margin-top 2em
  position absolute
  right 1em
  top -12em
  img
    width 100%
#margin_rigth
  margin-right 7em
#margin_left
  margin-left 7em
.container_demo
.container_pre
  width 95%
  margin 0 auto
  margin-top 2.5em
  padding-bottom 2em
  max-width 1250px
  margin-bottom 2em
  max-width 1250px !important
  .integrantes
    margin-top 4em
    h4
      text-transform uppercase
      margin-left 2em
    .nombre
      margin-left 4em
  .img
    width 100%
    margin 0 auto
    margin-top 4em
    img
      width 100%
  .left
    margin-left 2em
  .necesidad
    .contenido
      width 100%
      position relative
      .text_lef
      .text_right
        width 27%
        position absolute
        border-radius 50%
        text-align center
        background #1D2939
        min-height 190px
        display flex
        align-items center
        justify-content center
      .text_right
        right 2em
      .text_lef
        left 2em
      .indi
        left -3em
        top -5em
        p
          width 75%
          margin 0
          color #ffffff
      .manual
        right -3em
        top -5em
        p
          width 75%
          margin 1em auto
          margin-top 0.5em
          color #ffffff

    .img_logo
      margin 0 auto
      width 30%
      img
        width 100%
    .arrows-up
      width 50%
      margin 0 auto
      height 1em
      position relative
      top 5em
      .icon-arrow-left
      .icon-arrow-right
        position absolute
        bottom -0.5em
      .icon-arrow-left
        left -0.2em
        transform rotateZ(15deg)
        font-size 4em
        top -0.8em
      .icon-arrow-right
        right -.2em
        font-size 4em
        transform rotateZ(-15deg)
        top -0.8em
    .arrows-down
      width 50%
      margin 0 auto
      height 1em
      position relative
      .icon-arrow-left
      .icon-arrow-right
        position absolute
        top -0.5em
      .icon-arrow-left
        left -0.2em
        transform rotateZ(-15deg)
        font-size 4em
      .icon-arrow-right
        right -0.2em
        transform rotateZ(15deg)
        font-size 4em
    .contenido_down
      width 100%
      position relative
      .text_lef_down
      .text_right_down
        width 27%
        min-height 190px
        position absolute
        border-radius 50%
        text-align center
        background #1D2939
        display flex
        align-items center
        justify-content center
      .text_right_down
        right 1em
      .text_lef_down
        left 2em
        p
          padding 1em 0.2em
          color #ffffff
      .indi_down_ne
        left -2em
        bottom -3em
        p
          width 75%
          margin 0
          color #ffffff
      .manual_down_ne
        right -2em
        bottom -3m
        p
          width 85%
          margin 1em auto
          color #ffffff
      .nece
      .nece1
        bottom -7em
      .bottom_left
      .bottom_right
        bottom -4em
      .nece
      .bottom_left
        left -3em
      .nece1
      .bottom_right
        right -3em
  .sistema
  .proyecto
    width 45%
    display inline-block
    margin-top 3em
  .align
    vertical-align top
    margin 0 2em
    margin-top 3em
    h2
      margin-top 0
    ul
      margin-top 3em
      li
        font-size 1.3em
  .sistema
    h2
      margin-top 0
    ul
      margin-top 3em
      li
        font-size 1.3em
        margin 0.5em 0
  .requisitos1
     margin-bottom 1.8em
     background #fcfcfc
     box-shadow 0 3px 0 rgba(12,12,12,0.03)
     border 1px solid #ddd
  .requi
    width 80%
    margin 0 auto
    padding-top 3em
    ul
      display inline-block
      width 43%
      vertical-align top
      li
        font-size 1.4em
        margin 0.2em 0
  .delimitacion
    width 40%
    position absolute
    right 1em
    p
      font-size 1.6em
    ul
      margin-left 2em
      margin-top 0
      li
        font-size 1.3em

  .alcance
    width 85%
    margin 0 auto
    font-size 1.2em
    p
      width 50%
      padding-top 1em
      margin-bottom 0.5em
    ul
      margin-left 2em
      margin-top 0
      li
        margin 0.2em 0

  .bibliografia
    padding-top 1.5em
    ul
      list-style none
      li
        width 90%
        margin 0.5em auto
        font-size 1.1em
.problema
  .necesidad
    .arrows_up
      top 4em !important
    .rslides
      li
        margin-top: 3.5em
    .contenido
      .text_right
        p
          padding 0.5em
          color #ffffff
      .text_lef
        p
          padding 0.5em
          color #ffffff
    .contenido_down
      width 100%
      position relative
      .text_lef_down
        p
          padding 0.5em
          color #ffffff
      .text_right_down
        p
          padding 0.5em
          color #ffffff
      .indi_down
        left -1em
        bottom 1em
        p
          width 75%
          margin 1em auto
          color #ffffff
      .manual_down
        right -1em
        bottom -3em
        p
          width 95%
          margin 1em auto
          color #ffffff
    .arrows-down
      bottom 1.5em
      .icon-arrow-left
        left -0.2em
        transform rotateZ(-12deg)
      .icon-arrow-right
        right -0.2em
        transform rotateZ(12deg)

.objesiste
  width 85%
  .proyecto, .sistema
    margin-top 1em


.bibliografia
  padding-top 0
  ul
    margin-top 0
